IO/JPK_FA/Schemat_JPK_FA(4)_v1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2018/08/24/eD/DefinicjeTypy/" xmlns:tns="http://jpk.mf.gov.pl/wzor/2022/02/17/02171/" targetNamespace="http://jpk.mf.gov.pl/wzor/2022/02/17/02171/" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="pl">
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2018/08/24/eD/DefinicjeTypy/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2018/08/24/eD/DefinicjeTypy/StrukturyDanych_v5-0E.xsd"/>
	<xsd:simpleType name="TKodWaluty">
		<xsd:annotation>
			<xsd:documentation>Słownik kodów walut</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="AED">
				<xsd:annotation>
					<xsd:documentation>DIRHAM ZEA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AFN">
				<xsd:annotation>
					<xsd:documentation>AFGANI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ALL">
				<xsd:annotation>
					<xsd:documentation>LEK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AMD">
				<xsd:annotation>
					<xsd:documentation>DRAM</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ANG">
				<xsd:annotation>
					<xsd:documentation>GULDEN ANTYLI HOLENDERSKICH</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AOA">
				<xsd:annotation>
					<xsd:documentation>KWANZA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ARS">
				<xsd:annotation>
					<xsd:documentation>PESO ARGENTYŃSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AUD">
				<xsd:annotation>
					<xsd:documentation>DOLAR AUSTRALIJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AWG">
				<xsd:annotation>
					<xsd:documentation>GULDEN ARUBAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AZN">
				<xsd:annotation>
					<xsd:documentation>MANAT AZERBEJDŻAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BAM">
				<xsd:annotation>
					<xsd:documentation>MARKA ZAMIENNA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BBD">
				<xsd:annotation>
					<xsd:documentation>DOLAR BARBADOSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BDT">
				<xsd:annotation>
					<xsd:documentation>TAKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BGN">
				<xsd:annotation>
					<xsd:documentation>LEW</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BHD">
				<xsd:annotation>
					<xsd:documentation>DINAR BAHRAJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BIF">
				<xsd:annotation>
					<xsd:documentation>FRANK BURUNDYJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BMD">
				<xsd:annotation>
					<xsd:documentation>DOLAR BERMUDZKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BND">
				<xsd:annotation>
					<xsd:documentation>DOLAR BRUNEJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BOB">
				<xsd:annotation>
					<xsd:documentation>BOLIWIANO</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BOV">
				<xsd:annotation>
					<xsd:documentation>BOLIWIANO MVDOL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BRL">
				<xsd:annotation>
					<xsd:documentation>REAL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BSD">
				<xsd:annotation>
					<xsd:documentation>DOLAR BAHAMSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BTN">
				<xsd:annotation>
					<xsd:documentation>NGULTRUM</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BWP">
				<xsd:annotation>
					<xsd:documentation>PULA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BYN">
				<xsd:annotation>
					<xsd:documentation>RUBEL BIAŁORUSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BYR">
				<xsd:annotation>
					<xsd:documentation>RUBEL BIAŁORUSKI HISTORYCZY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BZD">
				<xsd:annotation>
					<xsd:documentation>DOLAR BELIZEŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CAD">
				<xsd:annotation>
					<xsd:documentation>DOLAR KANADYJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CDF">
				<xsd:annotation>
					<xsd:documentation>FRANK KONGIJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CHE">
				<xsd:annotation>
					<xsd:documentation>FRANK SZWAJCARSKI WIR EURO</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CHF">
				<xsd:annotation>
					<xsd:documentation>FRANK SZWAJCARSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CHW">
				<xsd:annotation>
					<xsd:documentation>FRANK SZWAJCARSKI WIR FRANK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CLF">
				<xsd:annotation>
					<xsd:documentation>JEDNOSTKA ROZLICZENIOWA CHILIJSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CLP">
				<xsd:annotation>
					<xsd:documentation>PESO CHILIJSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CNY">
				<xsd:annotation>
					<xsd:documentation>YUAN RENMINBI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="COP">
				<xsd:annotation>
					<xsd:documentation>PESO KOLUMBIJSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="COU">
				<xsd:annotation>
					<xsd:documentation>UNIDAD DE VALOR REAL KOLUMBILSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CRC">
				<xsd:annotation>
					<xsd:documentation>COLON KOSTARYKAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CUC">
				<xsd:annotation>
					<xsd:documentation>PESO WYMIENIALNE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CUP">
				<xsd:annotation>
					<xsd:documentation>PESO KUBAŃSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CVE">
				<xsd:annotation>
					<xsd:documentation>ESCUDO REPUBLIKI ZIELONEGO PRZYLĄDKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CZK">
				<xsd:annotation>
					<xsd:documentation>KORONA CZESKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DJF">
				<xsd:annotation>
					<xsd:documentation>FRANK DŻIBUTI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DKK">
				<xsd:annotation>
					<xsd:documentation>KORONA DUŃSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DOP">
				<xsd:annotation>
					<xsd:documentation>PESO DOMINIKAŃSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DZD">
				<xsd:annotation>
					<xsd:documentation>DINAR ALGIERSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EEK">
				<xsd:annotation>
					<xsd:documentation>KORONA ESTOŃSKA HISTORYCZNA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EGP">
				<xsd:annotation>
					<xsd:documentation>FUNT EGIPSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ERN">
				<xsd:annotation>
					<xsd:documentation>NAKFA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ETB">
				<xsd:annotation>
					<xsd:documentation>BIRR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EUR">
				<xsd:annotation>
					<xsd:documentation>EURO</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FJD">
				<xsd:annotation>
					<xsd:documentation>DOLAR FIDŻI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FKP">
				<xsd:annotation>
					<xsd:documentation>FUNT FALKLANDZKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GBP">
				<xsd:annotation>
					<xsd:documentation>FUNT SZTERLING</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GEL">
				<xsd:annotation>
					<xsd:documentation>LARI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GGP">
				<xsd:annotation>
					<xsd:documentation>FUNT GUERNSEY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GHS">
				<xsd:annotation>
					<xsd:documentation>GHANA CEDI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GIP">
				<xsd:annotation>
					<xsd:documentation>FUNT GIBRALTARSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GMD">
				<xsd:annotation>
					<xsd:documentation>DALASI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GNF">
				<xsd:annotation>
					<xsd:documentation>FRANK GWINEJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GTQ">
				<xsd:annotation>
					<xsd:documentation>QUETZAL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GWP">
				<xsd:annotation>
					<xsd:documentation>PESO GWINEJSKIE-BISSAU HISTORYCZNE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GYD">
				<xsd:annotation>
					<xsd:documentation>DOLAR GUJAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HKD">
				<xsd:annotation>
					<xsd:documentation>DOLAR HONGKONGU</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HNL">
				<xsd:annotation>
					<xsd:documentation>LEMPIRA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HRK">
				<xsd:annotation>
					<xsd:documentation>KUNA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HTG">
				<xsd:annotation>
					<xsd:documentation>GOURDE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HUF">
				<xsd:annotation>
					<xsd:documentation>FORINT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IDR">
				<xsd:annotation>
					<xsd:documentation>RUPIA INDONEZYJSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ILS">
				<xsd:annotation>
					<xsd:documentation>SZEKEL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IMP">
				<xsd:annotation>
					<xsd:documentation>FUNT MANX</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="INR">
				<xsd:annotation>
					<xsd:documentation>RUPIA INDYJSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IQD">
				<xsd:annotation>
					<xsd:documentation>DINAR IRACKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRR">
				<xsd:annotation>
					<xsd:documentation>RIAL IRAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ISK">
				<xsd:annotation>
					<xsd:documentation>KORONA ISLANDZKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="JEP">
				<xsd:annotation>
					<xsd:documentation>FUNT JERSEY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="JMD">
				<xsd:annotation>
					<xsd:documentation>DOLAR JAMAJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="JOD">
				<xsd:annotation>
					<xsd:documentation>DINAR JORDAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="JPY">
				<xsd:annotation>
					<xsd:documentation>JEN</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KES">
				<xsd:annotation>
					<xsd:documentation>SZYLING KENIJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KGS">
				<xsd:annotation>
					<xsd:documentation>SOM</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KHR">
				<xsd:annotation>
					<xsd:documentation>RIEL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KMF">
				<xsd:annotation>
					<xsd:documentation>FRANK KOMORÓW</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KPW">
				<xsd:annotation>
					<xsd:documentation>WON PÓŁNOCNO­KOREAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KRW">
				<xsd:annotation>
					<xsd:documentation>WON POŁUDNIOWO­KOREAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KWD">
				<xsd:annotation>
					<xsd:documentation>DINAR KUWEJCKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KYD">
				<xsd:annotation>
					<xsd:documentation>DOLAR KAJMAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KZT">
				<xsd:annotation>
					<xsd:documentation>TENGE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LAK">
				<xsd:annotation>
					<xsd:documentation>KIP</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LBP">
				<xsd:annotation>
					<xsd:documentation>FUNT LIBAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LKR">
				<xsd:annotation>
					<xsd:documentation>RUPIA LANKIJSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LRD">
				<xsd:annotation>
					<xsd:documentation>DOLAR LIBERYJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LSL">
				<xsd:annotation>
					<xsd:documentation>LOTI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LTL">
				<xsd:annotation>
					<xsd:documentation>LIT LITEWSKI HISTORYCZNY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LVL">
				<xsd:annotation>
					<xsd:documentation>ŁAT ŁOTEWSKI HISTORYCZNY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LYD">
				<xsd:annotation>
					<xsd:documentation>DINAR LIBIJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MAD">
				<xsd:annotation>
					<xsd:documentation>DIRHAM MAROKAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MDL">
				<xsd:annotation>
					<xsd:documentation>LEJ MOŁDAWII</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MGA">
				<xsd:annotation>
					<xsd:documentation>ARIARY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MKD">
				<xsd:annotation>
					<xsd:documentation>DENAR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MMK">
				<xsd:annotation>
					<xsd:documentation>KYAT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MNT">
				<xsd:annotation>
					<xsd:documentation>TUGRIK</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MOP">
				<xsd:annotation>
					<xsd:documentation>PATACA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MRO">
				<xsd:annotation>
					<xsd:documentation>OUGUIYA HISTORYCZNA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MRU">
				<xsd:annotation>
					<xsd:documentation>OUGUIYA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MTL">
				<xsd:annotation>
					<xsd:documentation>LIRA MALTAŃSKA HISTORYCZNA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MUR">
				<xsd:annotation>
					<xsd:documentation>RUPIA MAURITIUSU</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MVR">
				<xsd:annotation>
					<xsd:documentation>RUPIA MALEDIWSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MWK">
				<xsd:annotation>
					<xsd:documentation>KWACHA MALAWIJSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MXN">
				<xsd:annotation>
					<xsd:documentation>PESO MEKSYKAŃSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MXV">
				<xsd:annotation>
					<xsd:documentation>UNIDAD DE INVERSION (UDI) MEKSYKAŃSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MYR">
				<xsd:annotation>
					<xsd:documentation>RINGGIT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MZN">
				<xsd:annotation>
					<xsd:documentation>METICAL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NAD">
				<xsd:annotation>
					<xsd:documentation>DOLAR NAMIBIJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NGN">
				<xsd:annotation>
					<xsd:documentation>NAIRA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NIO">
				<xsd:annotation>
					<xsd:documentation>CORDOBA ORO</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NOK">
				<xsd:annotation>
					<xsd:documentation>KORONA NORWESKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NPR">
				<xsd:annotation>
					<xsd:documentation>RUPIA NEPALSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NZD">
				<xsd:annotation>
					<xsd:documentation>DOLAR NOWOZELANDZKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OMR">
				<xsd:annotation>
					<xsd:documentation>RIAL OMAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PAB">
				<xsd:annotation>
					<xsd:documentation>BALBOA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PEN">
				<xsd:annotation>
					<xsd:documentation>SOL</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PGK">
				<xsd:annotation>
					<xsd:documentation>KINA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PHP">
				<xsd:annotation>
					<xsd:documentation>PESO FILIPIŃSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PKR">
				<xsd:annotation>
					<xsd:documentation>RUPIA PAKISTAŃSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PLN">
				<xsd:annotation>
					<xsd:documentation>ZŁOTY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PYG">
				<xsd:annotation>
					<xsd:documentation>GUARANI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="QAR">
				<xsd:annotation>
					<xsd:documentation>RIAL KATARSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RON">
				<xsd:annotation>
					<xsd:documentation>LEJ RUMUŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RSD">
				<xsd:annotation>
					<xsd:documentation>DINAR SERBSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RUB">
				<xsd:annotation>
					<xsd:documentation>RUBEL ROSYJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RWF">
				<xsd:annotation>
					<xsd:documentation>FRANK RWANDYJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SAR">
				<xsd:annotation>
					<xsd:documentation>RIAL SAUDYJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SBD">
				<xsd:annotation>
					<xsd:documentation>DOLAR WYSP SALOMONA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SCR">
				<xsd:annotation>
					<xsd:documentation>RUPIA SESZELSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SDG">
				<xsd:annotation>
					<xsd:documentation>FUNT SUDAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SEK">
				<xsd:annotation>
					<xsd:documentation>KORONA SZWEDZKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SGD">
				<xsd:annotation>
					<xsd:documentation>DOLAR SINGAPURSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SHP">
				<xsd:annotation>
					<xsd:documentation>FUNT ŚWIĘTEJ HELENY (ŚWIĘTA HELENA I WYSPA WNIEBOWSTĄPIENIA)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SLL">
				<xsd:annotation>
					<xsd:documentation>LEONE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SOS">
				<xsd:annotation>
					<xsd:documentation>SZYLING SOMALIJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SRD">
				<xsd:annotation>
					<xsd:documentation>DOLAR SURINAMSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SSP">
				<xsd:annotation>
					<xsd:documentation>FUNT POŁUDNIOWOSUDAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="STD">
				<xsd:annotation>
					<xsd:documentation>DOBRA HISTORYCZNA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="STN">
				<xsd:annotation>
					<xsd:documentation>DOBRA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SVC">
				<xsd:annotation>
					<xsd:documentation>COLON SALWADORSKI (SV1)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SYP">
				<xsd:annotation>
					<xsd:documentation>FUNT SYRYJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SZL">
				<xsd:annotation>
					<xsd:documentation>LILANGENI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="THB">
				<xsd:annotation>
					<xsd:documentation>BAT</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TJS">
				<xsd:annotation>
					<xsd:documentation>SOMONI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TMT">
				<xsd:annotation>
					<xsd:documentation>MANAT TURKMEŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TND">
				<xsd:annotation>
					<xsd:documentation>DINAR TUNEZYJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TOP">
				<xsd:annotation>
					<xsd:documentation>PAANGA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TRY">
				<xsd:annotation>
					<xsd:documentation>LIRA TURECKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TTD">
				<xsd:annotation>
					<xsd:documentation>DOLAR TRYNIDADU I TOBAGO</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TWD">
				<xsd:annotation>
					<xsd:documentation>NOWY DOLAR TAJWAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TZS">
				<xsd:annotation>
					<xsd:documentation>SZYLING TANZAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UAH">
				<xsd:annotation>
					<xsd:documentation>HRYWNA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UGX">
				<xsd:annotation>
					<xsd:documentation>SZYLING UGANDYJSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="USD">
				<xsd:annotation>
					<xsd:documentation>DOLAR AMERYKAŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="USN">
				<xsd:annotation>
					<xsd:documentation>DOLAR AMERYKAŃSKI (NEXT DAY)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="USS">
				<xsd:annotation>
					<xsd:documentation>DOLAR AMERYKAŃSKI (SAME DAY) HISTORYCZNY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UYI">
				<xsd:annotation>
					<xsd:documentation>PESO EN UNIDADES INDEXADAS URUGWAJSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UYU">
				<xsd:annotation>
					<xsd:documentation>PESO URUGWAJSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UYW">
				<xsd:annotation>
					<xsd:documentation>UNIDAD PERVISIONAL URUGWAJSKIE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UZS">
				<xsd:annotation>
					<xsd:documentation>SUM</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VEF">
				<xsd:annotation>
					<xsd:documentation>BOLIWAR HISTORYCZNY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VES">
				<xsd:annotation>
					<xsd:documentation>BOLIWAR SOBERANO </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VND">
				<xsd:annotation>
					<xsd:documentation>DONG</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VUV">
				<xsd:annotation>
					<xsd:documentation>VATU</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WST">
				<xsd:annotation>
					<xsd:documentation>TALA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XAF">
				<xsd:annotation>
					<xsd:documentation>FRANK CFA (BEAC)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XAG">
				<xsd:annotation>
					<xsd:documentation>SREBRO</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XAU">
				<xsd:annotation>
					<xsd:documentation>ZŁOTO</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XBA">
				<xsd:annotation>
					<xsd:documentation>BOND MARKETS UNIT EUROPEAN COMPOSITE UNIT (EURCO)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XBB">
				<xsd:annotation>
					<xsd:documentation>BOND MARKETS UNIT EUROPEAN MONETARY UNIT (E.M.U.-6)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XBC">
				<xsd:annotation>
					<xsd:documentation>BOND MARKETS UNIT EUROPEAN UNIT OF ACCOUNT 9 (E.U.A.-9)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XBD">
				<xsd:annotation>
					<xsd:documentation>BOND MARKETS UNIT EUROPEAN UNIT OF ACCOUNT 17 (E.U.A.-17)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XCD">
				<xsd:annotation>
					<xsd:documentation>DOLAR WSCHODNIO­KARAIBSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XDR">
				<xsd:annotation>
					<xsd:documentation>SDR MIĘDZYNARODOWY FUNDUSZ WALUTOWY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XFU">
				<xsd:annotation>
					<xsd:documentation>UIC-FRANC HISTORYCZNY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XOF">
				<xsd:annotation>
					<xsd:documentation>FRANK CFA (BCEAO)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XPD">
				<xsd:annotation>
					<xsd:documentation>PALLAD</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XPF">
				<xsd:annotation>
					<xsd:documentation>FRANK CFP</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XPT">
				<xsd:annotation>
					<xsd:documentation>PLATYNA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XSU">
				<xsd:annotation>
					<xsd:documentation>SUCRE SISTEMA UNITARIO DE COMPENSACION REGIONAL DE PAGOS SUCRE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XUA">
				<xsd:annotation>
					<xsd:documentation>ADB UNIT OF ACCOUNT MEMBER COUNTRIES OF THE AFRICAN DEVELOPMENT BANK GROUP</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XXX">
				<xsd:annotation>
					<xsd:documentation>BRAK WALUTY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="YER">
				<xsd:annotation>
					<xsd:documentation>RIAL JEMEŃSKI</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ZAR">
				<xsd:annotation>
					<xsd:documentation>RAND</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ZMW">
				<xsd:annotation>
					<xsd:documentation>KWACHA ZAMBIJSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ZWL">
				<xsd:annotation>
					<xsd:documentation>DOLAR ZIMBABWE</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TKodyKrajowUE">
		<xsd:annotation>
			<xsd:documentation>Kody krajów członkowskich Unii Europejskiej, w tym kod dla obszaru Irlandii Północnej</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="AT">
				<xsd:annotation>
					<xsd:documentation>AUSTRIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BE">
				<xsd:annotation>
					<xsd:documentation>BELGIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BG">
				<xsd:annotation>
					<xsd:documentation>BUŁGARIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CY">
				<xsd:annotation>
					<xsd:documentation>CYPR</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CZ">
				<xsd:annotation>
					<xsd:documentation>CZECHY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DK">
				<xsd:annotation>
					<xsd:documentation>DANIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EE">
				<xsd:annotation>
					<xsd:documentation>ESTONIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FI">
				<xsd:annotation>
					<xsd:documentation>FINLANDIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FR">
				<xsd:annotation>
					<xsd:documentation>FRANCJA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DE">
				<xsd:annotation>
					<xsd:documentation>NIEMCY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="EL">
				<xsd:annotation>
					<xsd:documentation>GRECJA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HR">
				<xsd:annotation>
					<xsd:documentation>CHORWACJA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HU">
				<xsd:annotation>
					<xsd:documentation>WĘGRY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IE">
				<xsd:annotation>
					<xsd:documentation>IRLANDIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IT">
				<xsd:annotation>
					<xsd:documentation>WŁOCHY</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LV">
				<xsd:annotation>
					<xsd:documentation>ŁOTWA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LT">
				<xsd:annotation>
					<xsd:documentation>LITWA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LU">
				<xsd:annotation>
					<xsd:documentation>LUKSEMBURG</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MT">
				<xsd:annotation>
					<xsd:documentation>MALTA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NL">
				<xsd:annotation>
					<xsd:documentation>HOLANDIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PL">
				<xsd:annotation>
					<xsd:documentation>POLSKA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PT">
				<xsd:annotation>
					<xsd:documentation>PORTUGALIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RO">
				<xsd:annotation>
					<xsd:documentation>RUMUNIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SK">
				<xsd:annotation>
					<xsd:documentation>SŁOWACJA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SI">
				<xsd:annotation>
					<xsd:documentation>SŁOWENIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ES">
				<xsd:annotation>
					<xsd:documentation>HISZPANIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SE">
				<xsd:annotation>
					<xsd:documentation>SZWECJA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GB">
				<xsd:annotation>
					<xsd:documentation>WIELKA BRYTANIA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="XI">
				<xsd:annotation>
					<xsd:documentation>IRLANDIA PÓŁNOCNA</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TKodFormularza">
		<xsd:annotation>
			<xsd:documentation>Symbol wzoru formularza</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="JPK_FA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TCelZlozenia">
		<xsd:annotation>
			<xsd:documentation>Określenie celu złożenia JPK</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>złożenie JPK po raz pierwszy</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TNaglowek">
		<xsd:annotation>
			<xsd:documentation>Nagłówek JPK_FA</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KodFormularza">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TKodFormularza">
							<xsd:attribute name="kodSystemowy" type="xsd:string" use="required" fixed="JPK_FA (4)"/>
							<xsd:attribute name="wersjaSchemy" type="xsd:string" use="required" fixed="1-0"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WariantFormularza">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CelZlozenia" type="tns:TCelZlozenia"/>
			<xsd:element name="DataWytworzeniaJPK" type="etd:TDataCzas">
				<xsd:annotation>
					<xsd:documentation>Data i czas wytworzenia JPK_FA</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataOd" type="tns:TData">
				<xsd:annotation>
					<xsd:documentation>Data początkowa okresu, którego dotyczy JPK_FA</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataDo" type="tns:TData">
				<xsd:annotation>
					<xsd:documentation>Data końcowa okresu, którego dotyczy JPK_FA</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="KodUrzedu" type="etd:TKodUS">
				<xsd:annotation>
					<xsd:documentation>Kod urzędu skarbowego, właściwy dla podatnika przekazującego JPK_FA</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TIdentyfikatorOsobyNiefizycznej1">
		<xsd:annotation>
			<xsd:documentation>Podstawowy zestaw danych identyfikacyjnych o osobie niefizycznej - bez elementu Numer REGON, rozszerzony o numery identyfikacyjne dla celów OSS i IOSS</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="NIP" type="etd:TNrNIP">
					<xsd:annotation>
						<xsd:documentation>Identyfikator podatkowy NIP</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="EUPLVATID" type="tns:EUPLVATID_Type">
					<xsd:annotation>
						<xsd:documentation>Numer identyfikacyjny VAT podatnika w procedurze nieunijnej</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IMPLVATID" type="tns:IMPLVATID_Type">
					<xsd:annotation>
						<xsd:documentation>Numer identyfikacyjny VAT podatnika w procedurze importu, nadany zgodnie z art. 138e ust. 7 pkt 1 i 2 ustawy</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="PelnaNazwa">
				<xsd:annotation>
					<xsd:documentation>Pełna nazwa</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="240"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="EUPLVATID_Type">
		<xsd:annotation>
			<xsd:documentation>Numer identyfikacyjny VAT podatnika w procedurze nieunijnej</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:pattern value="EU616[0-9]{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IMPLVATID_Type">
		<xsd:annotation>
			<xsd:documentation>Numer identyfikacyjny VAT podatnika w procedurze importu</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:pattern value="IM616[0-9]{7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TKwotowy">
		<xsd:annotation>
			<xsd:documentation>Wartość numeryczna 18 znaków max, w tym 2 znaki po przecinku</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TNaturalnyJPK">
		<xsd:annotation>
			<xsd:documentation>Liczby naturalne większe od zera</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="etd:TNaturalny">
			<xsd:minExclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TZnakowyJPK">
		<xsd:annotation>
			<xsd:documentation>Typ znakowy ograniczony do 256 znaków</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TIlosciJPK">
		<xsd:annotation>
			<xsd:documentation>Wykorzystywany do określenia ilości. Wartość numeryczna 22 znaki max, w tym 6 po przecinku</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="22"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TData">
		<xsd:annotation>
			<xsd:documentation>Data transakcji lub zdarzenia w okresie od 1 lipca 2016 r. do 1 stycznia 2030 r.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="etd:TData">
			<xsd:minInclusive value="2016-07-01"/>
			<xsd:maxInclusive value="2030-01-01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TDataT">
		<xsd:annotation>
			<xsd:documentation>Data transakcji lub zdarzenia w okresie od 1 stycznia 2006 do 1 stycznia 2030 r.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="etd:TData">
			<xsd:minInclusive value="2006-01-01"/>
			<xsd:maxInclusive value="2030-01-01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TProcentowy">
		<xsd:annotation>
			<xsd:documentation>Wartość procentowa z dokładnością do 6 miejsc po przecinku</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="9"/>
			<xsd:fractionDigits value="6"/>
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="JPK">
		<xsd:annotation>
			<xsd:documentation>Jednolity plik kontrolny dla faktur VAT</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Naglowek">
					<xsd:annotation>
						<xsd:documentation>Nagłówek JPK_FA</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="tns:TNaglowek"/>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Podmiot1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IdentyfikatorPodmiotu" type="tns:TIdentyfikatorOsobyNiefizycznej1">
								<xsd:annotation>
									<xsd:documentation>Dane identyfikujące podmiot</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:choice>
								<xsd:element name="AdresPodmiotu" type="etd:TAdresPolski1">
									<xsd:annotation>
										<xsd:documentation>Adres podmiotu w Polsce</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="AdresPodmiotu2" type="etd:TAdresZagraniczny">
									<xsd:annotation>
										<xsd:documentation>Adres podmiotu zagraniczny</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:choice>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Faktura" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Na podstawie art. 106a - 106q ustawy. Wartości sprzedaży i kwoty podatku wypełnia się w walucie, w której wystawiono fakturę, z wyjątkiem pól, w których kwoty podatku zostały przeliczone zgodnie z art. 31a w związku z art. 106e ust. 11 ustawy. W przypadku wystawienia faktury korygującej, wypełnia się wszystkie dane wg stanu po korekcie. Dane dotyczące podstaw opodatkowania, kwot podatku oraz kwoty ogółem wypełnia się poprzez różnicę</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="KodWaluty" type="tns:TKodWaluty">
								<xsd:annotation>
									<xsd:documentation>Trzyliterowy kod waluty (ISO-4217), w której faktura, zamówienie lub umowa zostały wystawione</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_1" type="tns:TDataT">
								<xsd:annotation>
									<xsd:documentation>Data wystawienia</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_2A" type="tns:TZnakowyJPK">
								<xsd:annotation>
									<xsd:documentation>Kolejny numer faktury, nadany w ramach jednej lub więcej serii, który w sposób jednoznaczny indentyfikuje fakturę</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_3A" type="tns:TZnakowyJPK" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Imię i nazwisko lub nazwa nabywcy towarów lub usług. Pole opcjonalne dla przypadku określonego w art. 106e ust. 5 pkt 3 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_3B" type="tns:TZnakowyJPK" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Adres nabywcy. Pole opcjonalne dla przypadków określonych w art. 106e ust. 5 pkt 3 ustawy oraz w § 3 pkt 2 i 4 rozporządzenia Ministra Finansów z dnia 3 grudnia 2013 r. w sprawie wystawiania faktur (Dz. U. z 2013 r., poz. 1485), a także § 3 pkt 2 i 4  rozporządzenia Ministra Finansów z dnia 29 października 2021 r. w sprawie wystawiania faktur (Dz. U. z 2021 r., poz. 1979)</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_3C" type="tns:TZnakowyJPK">
								<xsd:annotation>
									<xsd:documentation>Imię i nazwisko lub nazwa sprzedawcy towarów lub usług</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_3D" type="tns:TZnakowyJPK">
								<xsd:annotation>
									<xsd:documentation>Adres sprzedawcy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_4A" type="tns:TKodyKrajowUE" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Kod (prefiks) podatnika VAT UE dla przypadków określonych w art. 97 ust. 10 pkt 2 i 3 ustawy oraz w przypadku, o którym mowa w art. 136 ust. 1 pkt 3 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_4B" type="etd:TNrIdentyfikacjiPodatkowej" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Numer, za pomocą którego podatnik jest zidentyfikowany na potrzeby podatku, z zastrzeżeniem pkt 24 lit. a ustawy. Pole opcjonalne dla przypadku określonego w art. 106e ust. 4 pkt 2 ustawy. W przypadku faktur wystawianych w procedurze uproszczonej przez drugiego w kolejności podatnika, o którym mowa w art. 135 ust. 1 pkt 4 lit. b i c oraz ust. 2 ustawy, numer, o którym mowa w art. 136 ust. 1 pkt 3 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_5A" type="tns:TKodyKrajowUE" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Kod (prefiks) nabywcy VAT UE, o którym mowa w art. 106e ust. 1 pkt 24 ustawy oraz w przypadku, o którym mowa w art. 136 ust. 1 pkt 4 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_5B" type="etd:TNrIdentyfikacjiPodatkowej" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Numer, za pomocą którego nabywca towarów lub usług jest identyfikowany dla podatku lub podatku od wartości dodanej, pod którym otrzymał on towary lub usługi, z zastrzeżeniem art. 106e ust. 1 pkt 24 lit. b ustawy. Pole opcjonalne dla przypadku określonego w art. 106e ust. 5 pkt 2 ustawy. W przypadku faktur wystawianych w procedurze uproszczonej przez drugiego w kolejności podatnika, o którym mowa w art. 135 ust. 1 pkt 4 lit. b i c oraz ust. 2 ustawy, numer, o którym mowa w art. 136 ust. 1 pkt 4 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_6" type="tns:TDataT" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Data dokonania lub zakończenia dostawy towarów lub wykonania usługi lub data otrzymania zapłaty, o której mowa w art. 106b ust. 1 pkt 4, o ile taka data jest określona i różni się od daty wystawienia faktury</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Pola opcjonalne dla przypadków określonych w art. 106e ust. 2 i 3 oraz ust. 4 pkt 1, a także ust. 4 pkt 3 i ust. 5 pkt 1-3 ustawy</xsd:documentation>
								</xsd:annotation>
								<!--gdy przynajmniej jedno z pól P_106E_2 i P_106E_3 przyjmuje wartość "true" oraz gdy pole P_18 przyjmuje wartość "true"-->
								<xsd:element name="P_13_1" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Suma wartości sprzedaży netto ze stawką podstawową - aktualnie 23% albo 22%. W przypadku faktur zaliczkowych, kwota zaliczki netto. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_14_1" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Kwota podatku od sumy wartości sprzedaży netto ze stawką podstawową - aktualnie 23% albo 22%. W przypadku faktur zaliczkowych, kwota podatku wyliczona według wzoru, o którym mowa w art. 106f ust. 1 pkt 3 ustawy. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_14_1W" type="tns:TKwotowy" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>W przypadku gdy faktura jest wystawiona w walucie obcej, kwota podatku od sumy wartości sprzedaży netto ze stawką podstawową, przeliczona zgodnie z art. 31a w związku z art. 106e ust. 11 ustawy - aktualnie 23% albo 22%. W przypadku faktur zaliczkowych, kwota podatku wyliczona według wzoru, o którym mowa w art. 106f ust. 1 pkt 3 ustawy. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Pola opcjonalne dla przypadków określonych w art. 106e ust. 2 i 3 oraz ust. 4 pkt 1, a także ust. 4 pkt 3 i ust. 5 pkt 1-3 ustawy</xsd:documentation>
								</xsd:annotation>
								<!--gdy przynajmniej jedno z pól P_106E_2 i P_106E_3 przyjmuje wartość "true" oraz gdy pole P_18 przyjmuje wartość "true"-->
								<xsd:element name="P_13_2" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Suma wartości sprzedaży netto ze stawką obniżoną pierwszą - aktualnie 8 % albo 7%. W przypadku faktur zaliczkowych, kwota zaliczki netto. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_14_2" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Kwota podatku od sumy wartości sprzedaży netto ze stawką obniżoną pierwszą - aktualnie 8% albo 7%. W przypadku faktur zaliczkowych, kwota podatku wyliczona według wzoru, o którym mowa w art. 106f ust. 1 pkt 3 ustawy. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_14_2W" type="tns:TKwotowy" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>W przypadku gdy faktura jest wystawiona w walucie obcej, kwota podatku od sumy wartości sprzedaży netto ze stawką obniżoną, przeliczona zgodnie z art. 31a w związku z art. 106e ust. 11 ustawy - aktualnie 8% albo 7%. W przypadku faktur zaliczkowych, kwota podatku wyliczona według wzoru, o którym mowa w art. 106f ust. 1 pkt 3 ustawy. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Pola opcjonalne dla przypadków określonych w art. 106e ust. 2 i 3 oraz ust. 4 pkt 1, a także ust. 4 pkt 3 i ust. 5 pkt 1-3 ustawy</xsd:documentation>
								</xsd:annotation>
								<!--gdy przynajmniej jedno z pól P_106E_2 i P_106E_3 przyjmuje wartość "true" oraz gdy pole P_18 przyjmuje wartość "true"-->
								<xsd:element name="P_13_3" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Suma wartości sprzedaży netto ze stawką obniżoną drugą - aktualnie 5%. W przypadku faktur zaliczkowych, kwota zaliczki netto. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_14_3" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Kwota podatku od sumy wartości sprzedaży netto ze stawką obniżoną drugą - aktualnie 5%. W przypadku faktur zaliczkowych, kwota podatku wyliczona według wzoru, o którym mowa w art. 106f ust. 1 pkt 3 ustawy. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_14_3W" type="tns:TKwotowy" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>W przypadku gdy faktura jest wystawiona w walucie obcej, kwota podatku od sumy wartości sprzedaży netto ze stawką obniżoną drugą, przeliczona zgodnie z art. 31a w związku z art. 106e ust. 11 ustawy - aktualnie 5%. W przypadku faktur zaliczkowych, kwota podatku wyliczona według wzoru, o którym mowa w art. 106f ust. 1 pkt 3 ustawy. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Pola opcjonalne dla przypadków określonych w art. 106e ust. 2, 3, ust. 4 pkt 3 oraz ust. 5 pkt 1-3 ustawy</xsd:documentation>
								</xsd:annotation>
								<!--gdy przynajmniej jedno z pól P_106E_2 i P_106E_3 przyjmuje wartość "true" oraz gdy pole P_18 przyjmuje wartość "true"-->
								<xsd:element name="P_13_4" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Suma wartości sprzedaży netto ze stawką obniżoną trzecią w walucie, w której faktura została wystawiona - procedura odwrotnego obciążenia, dla której podatnikiem jest nabywca zgodnie z art. 17 ust. 1 pkt 7 i 8 ustawy oraz dla stawki podatku w przypadku ryczałtu dla taksówek osobowych. W przypadku faktur zaliczkowych, kwota zaliczki netto. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_14_4" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Kwota "0" dla procedury odwrotnego obciążenia, dla której podatnikiem jest nabywca zgodnie z art. 17 ust. 1 pkt 7 i 8 ustawy oraz kwota podatku od sumy wartości sprzedaży netto dla stawki podatku w walucie, w której faktura została wystawiona w przypadku ryczałtu dla taksówek osobowych. W przypadku faktur zaliczkowych, kwota podatku wyliczona według wzoru, o którym mowa w art. 106f ust. 1 pkt 3 ustawy. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_14_4W" type="tns:TKwotowy" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>W przypadku gdy faktura jest wystawiona w walucie obcej, kwota "0" dla procedury odwrotnego obciążenia, dla której podatnikiem jest nabywca zgodnie z art. 17 ust. 1 pkt 7 i 8 ustawy oraz kwota podatku od sumy wartości sprzedaży netto w walucie obcej dla stawki podatku w przypadku ryczałtu dla taksówek osobowych, przeliczona zgodnie z art. 31a w związku z art. 106e ust. 11 ustawy. W przypadku faktur zaliczkowych, kwota podatku wyliczona według wzoru, o którym mowa w art. 106f ust. 1 pkt 3 ustawy. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Pola opcjonalne dla przypadków określonych w art. 106e ust.2 i 3 oraz ust. 4 pkt 1, a także ust. 4 pkt 3 i ust. 5 pkt 3 ustawy</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_13_5" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Suma wartości sprzedaży netto dla transakcji dostawy towarów oraz świadczenia usług poza terytorium kraju. W przypadku faktur zaliczkowych, kwota zaliczki netto. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_14_5" type="tns:TKwotowy" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Kwota podatku od wartości dodanej w przypadku procedur szczególnych, o których mowa w dziale XII w rozdziałach 6a, 7 i 9 ustawy

</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:element name="P_13_6" type="tns:TKwotowy" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Suma wartości sprzedaży netto ze stawką 0%. W przypadku faktur zaliczkowych, kwota zaliczki netto. Pole opcjonalne dla przypadków określonych w art. 106e ust. 2 i 3, a także ust. 4 pkt 3 i ust. 5 pkt 1-3 ustawy. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_13_7" type="tns:TKwotowy" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Suma wartości sprzedaży zwolnionej. W przypadku faktur zaliczkowych, kwota zaliczki netto. Pola opcjonalne dla przypadków określonych w art. 106e ust. 2 i 3, a także ust. 4 pkt 3 i ust. 5 pkt 1-3 ustawy. W przypadku faktur korygujących, kwota różnicy, o której mowa w art. 106j ust. 2 pkt 5 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_15" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Kwota należności ogółem. W przypadku faktur zaliczkowych kwota zapłaty dokumentowana fakturą. W przypadku faktur, o których mowa w art. 106f ust. 3 ustawy kwota pozostała do zapłaty. W przypadku faktur korygujących korekta kwoty wynikającej z faktury korygowanej. W przypadku, o którym mowa w art. 106j ust. 3 ustawy korekta kwot wynikających z faktur korygowanych</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_16" type="xsd:boolean" default="false">
								<xsd:annotation>
									<xsd:documentation>W przypadku dostawy towarów lub świadczenia usług, w odniesieniu do których obowiązek podatkowy powstaje zgodnie z art. 19a ust. 5 pkt 1 lub art. 21 ust. 1 - wyrazy "metoda kasowa", należy podać wartość "true"; w przeciwnym przypadku - wartość "false"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_17" type="xsd:boolean" default="false">
								<xsd:annotation>
									<xsd:documentation>W przypadku faktur, o których mowa w art. 106d ust. 1 - wyraz "samofakturowanie", należy podać wartość "true"; w przeciwnym przypadku - wartość "false"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_18" type="xsd:boolean" default="false">
								<xsd:annotation>
									<xsd:documentation>W przypadku dostawy towarów lub wykonania usługi, dla których obowiązanym do rozliczenia podatku od wartości dodanej lub podatku o podobnym charakterze jest nabywca towaru lub usługi - wyrazy "odwrotne obciążenie", należy podać wartość "true", w przeciwnym przypadku - wartość "false"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_18A" type="xsd:boolean" default="false">
								<xsd:annotation>
									<xsd:documentation>W przypadku faktur, w których kwota należności ogółem przekracza kwotę
15 000 zł lub jej równowartość wyrażoną w walucie obcej, obejmujących
dokonaną na rzecz podatnika dostawę towarów lub świadczenie usług, o których mowa w załączniku nr 15 do ustawy - wyrazy "mechanizm
podzielonej płatności", przy czym do przeliczania na złote kwot wyrażonych w walucie obcej stosuje się zasady przeliczania kwot stosowane w celu określenia podstawy opodatkowania; należy podać wartość "true", w przeciwnym przypadku - wartość "false"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_19" type="xsd:boolean" default="false">
								<xsd:annotation>
									<xsd:documentation>W przypadku dostawy towarów lub świadczenia usług zwolnionych od podatku na podstawie art. 43 ust. 1, art. 113 ust. 1 i 9 albo przepisów wydanych na podstawie art. 82 ust. 3 należy podać wartość "true", w przeciwnym przypadku - wartość "false"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:sequence minOccurs="0">
								<xsd:element name="P_19A" type="tns:TZnakowyJPK" default="false" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Jeśli pole P_19 równa się "true" - należy wskazać przepis ustawy albo aktu wydanego na podstawie ustawy, na podstawie którego podatnik stosuje zwolnienie od podatku</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_19B" type="tns:TZnakowyJPK" default="false" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Jeśli pole P_19 równa się "true" - należy wskazać przepis dyrektywy 2006/112/WE, który zwalnia od podatku taką dostawę towarów lub takie świadczenie usług</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_19C" type="tns:TZnakowyJPK" default="false" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Jeśli pole P_19 równa się "true" - należy wskazać inną podstawę prawną wskazującą na to, że dostawa towarów lub świadczenie usług korzysta ze zwolnienia
</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:element name="P_20" type="xsd:boolean" default="false">
								<xsd:annotation>
									<xsd:documentation>W przypadku, o którym mowa w art. 106c ustawy należy podać wartość "true", w przeciwnym przypadku - wartość "false"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:sequence minOccurs="0">
								<xsd:element name="P_20A" type="tns:TZnakowyJPK">
									<xsd:annotation>
										<xsd:documentation>Jeśli pole P_20 równa się "true" - należy podać nazwę organu egzekucyjnego lub imię i nazwisko komornika sądowego</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_20B" type="tns:TZnakowyJPK">
									<xsd:annotation>
										<xsd:documentation>Jeśli pole P_20 równa się "true" - należy podać adres organu egzekucyjnego lub komornika sądowego</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:element name="P_21" type="xsd:boolean" default="false">
								<xsd:annotation>
									<xsd:documentation>W przypadku faktur wystawianych w imieniu i na rzecz podatnika przez jego przedstawiciela podatkowego należy podać wartość "true", w przeciwnym przypadku - wartość "false"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:sequence minOccurs="0">
								<xsd:element name="P_21A" type="tns:TZnakowyJPK" default="false">
									<xsd:annotation>
										<xsd:documentation>Jeśli pole P_21 równa się "true" - należy podać nazwę lub imię i nazwisko przedstawiciela podatkowego</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_21B" type="tns:TZnakowyJPK" default="false">
									<xsd:annotation>
										<xsd:documentation>Jeśli pole P_21 równa się "true" - należy podać adres przedstawiciela podatkowego</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_21C" type="tns:TZnakowyJPK" default="false">
									<xsd:annotation>
										<xsd:documentation>Jeśli pole P_21 równa się "true" - należy podać numer przedstawiciela podatkowego, za pomocą którego jest on zidentyfikowany na potrzeby podatku</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:element name="P_22" type="xsd:boolean" default="false">
								<xsd:annotation>
									<xsd:documentation>W przypadku gdy przedmiotem wewnątrzwspólnotowej dostawy są nowe środki transportu należy podać wartość "true", w przeciwnym przypadku - wartość "false"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:sequence minOccurs="0">
								<xsd:element name="P_22A" type="etd:TData">
									<xsd:annotation>
										<xsd:documentation>Jeśli pole P_22 równa się "true" - należy podać datę dopuszczenia nowego środka transportu do użytku</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_22B" type="tns:TZnakowyJPK" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Jeśli pole P_22 równa się "true" a dostawa dotyczy pojazdów lądowych, o których mowa w art. 2 pkt 10 lit. a ustawy - należy podać przebieg pojazdu</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_22C" type="tns:TZnakowyJPK" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Jeśli pole P_22 równa się "true" a dostawa dotyczy jednostek pływających, o których mowa w art. 2 pkt 10 lit. b ustawy, oraz statków powietrznych, o których mowa w art. 2 pkt 10 lit. c ustawy, należy podać liczbę godzin roboczych używania nowego środka transportu</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:element name="P_23" type="xsd:boolean" default="false">
								<xsd:annotation>
									<xsd:documentation>W przypadku faktur wystawianych w procedurze uproszczonej przez drugiego w kolejności podatnika, o którym mowa w art. 135 ust. 1 pkt 4 lit. b i c oraz ust. 2, zawierającej adnotację, o której mowa w art. 136 ust. 1 pkt 1 i stwierdzenie, o którym mowa w art. 136 ust. 1 pkt 2 ustawy należy podać wartość "true", w przeciwnym przypadku - wartość "false"</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_106E_2" type="xsd:boolean" default="false">
								<xsd:annotation>
									<xsd:documentation>W przypadku świadczenia usług turystyki, dla których podstawę opodatkowania stanowi zgodnie z art. 119 ust. 1 kwota marży, faktura - w zakresie danych określonych w ust. 1 pkt 1-17 - powinna zawierać wyłącznie dane określone w ust. 1 pkt 1-8 i 15-17, a także wyrazy "procedura marży dla biur podróży", należy podać wartość "true", w przeciwnym przypadku - wartość "false"
</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:sequence>
								<xsd:element name="P_106E_3" type="xsd:boolean" default="false">
									<xsd:annotation>
										<xsd:documentation>W przypadku dostawy towarów używanych, dzieł sztuki, przedmiotów kolekcjonerskich i antyków, dla których podstawę opodatkowania stanowi zgodnie z art. 120 ust. 4 i 5 marża, należy podać wartość "true", w przeciwnym przypadku - wartość "false"</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_106E_3A" type="tns:TZnakowyJPK" default="false" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Jeżeli pole P_106E_3 równa się "true", należy podać wyrazy: "procedura marży - towary używane" lub "procedura marży - dzieła sztuki" lub "procedura marży - przedmioty kolekcjonerskie i antyki"</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:element name="RodzajFaktury">
								<xsd:annotation>
									<xsd:documentation>Rodzaj faktury</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="tns:TZnakowyJPK">
										<xsd:enumeration value="VAT">
											<xsd:annotation>
												<xsd:documentation>Faktura podstawowa oraz faktura wystawiona w związku z art. 106f ust. 3 ustawy</xsd:documentation>
											</xsd:annotation>
										</xsd:enumeration>
										<xsd:enumeration value="KOREKTA">
											<xsd:annotation>
												<xsd:documentation>Faktura korygująca, w tym faktura korygująca fakturę zaliczkową</xsd:documentation>
											</xsd:annotation>
										</xsd:enumeration>
										<xsd:enumeration value="ZAL">
											<xsd:annotation>
												<xsd:documentation>Faktura dokumentująca otrzymanie zapłaty lub jej części przed dokonaniem czynności oraz faktura wystawiona w związku z art. 106f ust. 4 ustawy</xsd:documentation>
											</xsd:annotation>
										</xsd:enumeration>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:sequence minOccurs="0">
								<xsd:element name="PrzyczynaKorekty" type="tns:TZnakowyJPK" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Przyczyna korekty dla faktur korygujących</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="NrFaKorygowanej" type="tns:TZnakowyJPK">
									<xsd:annotation>
										<xsd:documentation>Numer faktury korygowanej</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="OkresFaKorygowanej" type="tns:TZnakowyJPK" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Dla faktury korygującej - okres, do którego odnosi się udzielany opust lub obniżka, w przypadku gdy podatnik udziela opustu lub obniżki ceny w odniesieniu do wszystkich dostaw towarów lub usług dokonanych lub świadczonych na rzecz jednego odbiorcy w danym okresie</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:element name="NrFaZaliczkowej" type="tns:TZnakowyJPK" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Dla faktury, o której mowa w art. 106f ust. 3 i 4 ustawy - numery poprzednich faktur zaliczkowych</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="FakturaCtrl">
					<xsd:annotation>
						<xsd:documentation>Sumy kontrolne dla faktur</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LiczbaFaktur" type="tns:TNaturalnyJPK">
								<xsd:annotation>
									<xsd:documentation>Liczba faktur, w okresie którego dotyczy JPK_FA</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="WartoscFaktur" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Łączna wartość kolumny P_15 w tabeli Faktura w okresie, którego dotyczy JPK_FA</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="FakturaWiersz" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Szczegółowe pozycje faktury w walucie, w której wystawiono fakturę - węzeł opcjonalny dla faktury zaliczkowej, faktury korygującej fakturę zaliczkową, oraz faktur korygujących dotyczących wszystkich dostaw towarów lub usług dokonanych lub świadczonych w danym okresie, o których mowa w art. 106j ust. 3 ustawy, dla których należy podać dane dotyczące opustu lub obniżki w podziale na stawki podatku i procedury w sekcji Fa. W przypadku faktur korygujących, o których mowa w art. 106j ust. 3 ustawy, gdy opust lub obniżka ceny odnosi się do części dostaw towarów lub usług dokonanych lub świadczonych w danym okresie w sekcji FakturaWiersz należy podać nazwy (rodzaje) towarów lub usług objętych korektą. W przypadku faktur, o których mowa w art. 106f ust. 3 ustawy należy prezentować pełne wartości zamówienia lub umowy. W przypadku faktur korygujących pozycje faktury (w tym faktur korygujących faktury, o których mowa w art. 106f ust. 3 ustawy, jeśli korekta dotyczy wartości zamówienia) należy prezentować różnice wynikające z korekty poszczególnych pozycji lub storna poszczególnych pozycji korygowanych i prawidłowe wartości korygowanych pozycji jako osobne wiersze. W przypadku faktur korygujących faktury, o których mowa w art. 106f ust. 3 ustawy, jeśli korekta nie dotyczy wartości zamówienia i jednocześnie zmienia wysokość podstawy opodatkowania lub podatku, można wprowadzić zapis stornujący dany wiersz wg stanu przed korektą i zapis przywracający wartość zamówienia w celu potwierdzenia braku zmiany jego wartości</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="P_2B" type="tns:TZnakowyJPK">
								<xsd:annotation>
									<xsd:documentation>Kolejny numer faktury, nadany w ramach jednej lub więcej serii, który w sposób jednoznaczny indentyfikuje fakturę</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_7" type="tns:TZnakowyJPK" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Nazwa (rodzaj) towaru lub usługi. Pole opcjonalne wyłącznie dla przypadku określonego w art 106j ust. 3 pkt 2 ustawy (faktura korekta)</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_8A" type="tns:TZnakowyJPK" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Miara dostarczonych towarów lub zakres wykonanych usług. Pole opcjonalne dla przypadku określonego w art. 106e ust. 5 pkt 3 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_8B" type="tns:TIlosciJPK" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Ilość (liczba) dostarczonych towarów lub zakres wykonanych usług. Pole opcjonalne dla przypadku określonego w art. 106e ust. 5 pkt 3 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_9A" type="tns:TKwotowy" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Cena jednostkowa towaru lub usługi bez kwoty podatku (cena jednostkowa netto). Pole opcjonalne dla przypadków określonych w art. 106e ust. 2 i 3 oraz ust. 5 pkt 3 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_9B" type="tns:TKwotowy" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Cena wraz z kwotą podatku (cena jednostkowa brutto), w przypadku zastosowania art. 106e ust. 7 i 8 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_10" type="tns:TKwotowy" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Kwoty wszelkich opustów lub obniżek cen, w tym w formie rabatu z tytułu wcześniejszej zapłaty, o ile nie zostały one uwzględnione w cenie jednostkowej netto. Pole opcjonalne dla przypadków określonych w art. 106e ust. 2 i 3 oraz ust. 5 pkt 1 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_11" type="tns:TKwotowy" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Wartość dostarczonych towarów lub wykonanych usług, objętych transakcją, bez kwoty podatku (wartość sprzedaży netto). Pole opcjonalne dla przypadków określonych w art. 106e ust. 2 i 3 oraz ust. 5 pkt 3 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_11A" type="tns:TKwotowy" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Wartość sprzedaży brutto, w przypadku zastosowania art. 106e ust. 7 i 8 ustawy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_12" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Stawka podatku. Pole opcjonalne dla przypadków określonych w art. 106e ust. 2, 3, 4 pkt 3 i ust. 5 pkt 3 ustawy</xsd:documentation>
								</xsd:annotation>
								<!--gdy przynajmniej jedno z pól P_106E_2 i P_106E_3 przyjmuje wartość "true"-->
								<xsd:simpleType>
									<xsd:restriction base="tns:TZnakowyJPK">
										<xsd:maxLength value="2"/>
										<xsd:enumeration value="23"/>
										<xsd:enumeration value="22"/>
										<xsd:enumeration value="8"/>
										<xsd:enumeration value="7"/>
										<xsd:enumeration value="5"/>
										<xsd:enumeration value="4"/>
										<xsd:enumeration value="3"/>
										<xsd:enumeration value="0"/>
										<xsd:enumeration value="zw">
											<xsd:annotation>
												<xsd:documentation>zwolnione z opodatkowania</xsd:documentation>
											</xsd:annotation>
										</xsd:enumeration>
										<xsd:enumeration value="oo">
											<xsd:annotation>
												<xsd:documentation>odwrotne obciążenie</xsd:documentation>
											</xsd:annotation>
										</xsd:enumeration>
										<xsd:enumeration value="np">
											<xsd:annotation>
												<xsd:documentation>niepodlegające opodatkowaniu-transakcje dostawy towarów oraz świadczenia usług poza terytorium kraju</xsd:documentation>
											</xsd:annotation>
										</xsd:enumeration>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="P_12_XII" type="tns:TProcentowy" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Stawka podatku od wartości dodanej w przypadku procedur szczególnych, o których mowa w dziale XII w rozdziałach 6a, 7 i 9 ustawy VAT</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="FakturaWierszCtrl">
					<xsd:annotation>
						<xsd:documentation>Sumy kontrolne dla wierszy faktur</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LiczbaWierszyFaktur" type="tns:TNaturalnyJPK">
								<xsd:annotation>
									<xsd:documentation>Liczba wierszy faktur, w okresie którego dotyczy JPK_FA</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="WartoscWierszyFaktur" type="tns:TKwotowy">
								<xsd:annotation>
									<xsd:documentation>Łączna wartość kolumny P_11 tabeli FakturaWiersz w okresie, którego dotyczy JPK_FA</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:sequence minOccurs="0">
					<xsd:element name="Zamowienie" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Zamówienie lub umowa, o których mowa w art. 106f ust. 1 pkt 4 ustawy (dla faktur zaliczkowych) w walucie, w której wystawiono fakturę zaliczkową. W przypadku faktury korygującej fakturę zaliczkową należy prezentować różnice wynikające z korekty poszczególnych pozycji zamówienia lub umowy lub storna poszczególnych korygowanych pozycji zamówienia lub umowy i prawidłowe wartości korygowanych pozycji jako osobne wiersze jeśli korekta dotyczy wartości zamówienia. W przypadku faktur korygujących faktury zaliczkowe, jeśli korekta nie dotyczy wartości zamówienia i jednocześnie zmienia wysokość podstawy opodatkowania lub podatku, można wprowadzić zapis stornujący dany wiersz wg stanu przed korektą i zapis przywracający wartość zamówienia w celu potwierdzenia braku zmiany jego wartości</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="P_2AZ" type="tns:TZnakowyJPK">
									<xsd:annotation>
										<xsd:documentation>Numer faktury, z którym związane jest zamówienie lub umowa, identyczny jak w polu P_2A</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WartoscZamowienia" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Wartość zamówienia lub umowy z uwzględnieniem kwoty podatku</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:sequence>
									<xsd:element name="ZamowienieWiersz" maxOccurs="unbounded">
										<xsd:annotation>
											<xsd:documentation>Szczegółowe pozycje zamówienia lub umowy w walucie, w której wystawiono fakturę zaliczkową</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="P_7Z" type="tns:TZnakowyJPK" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Nazwa (rodzaj) towaru lub usługi</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="P_8AZ" type="tns:TZnakowyJPK" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Miara zamówionego towaru lub zakres usługi</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="P_8BZ" type="tns:TIlosciJPK" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Ilość zamówionego towaru lub zakres usługi</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="P_9AZ" type="tns:TKwotowy" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Cena jednostkowa netto</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="P_11NettoZ" type="tns:TKwotowy" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Wartość zamówionego towaru lub usługi bez kwoty podatku</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="P_11VatZ" type="tns:TKwotowy" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Kwota podatku od zamówionego towaru lub usługi</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="P_12Z" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Stawka podatku</xsd:documentation>
													</xsd:annotation>
													<!--gdy przynajmniej jedno z pól P_106E_2 i P_106E_3 przyjmuje wartość "true"-->
													<xsd:simpleType>
														<xsd:restriction base="tns:TZnakowyJPK">
															<xsd:maxLength value="2"/>
															<xsd:enumeration value="23"/>
															<xsd:enumeration value="22"/>
															<xsd:enumeration value="8"/>
															<xsd:enumeration value="7"/>
															<xsd:enumeration value="5"/>
															<xsd:enumeration value="4"/>
															<xsd:enumeration value="3"/>
															<xsd:enumeration value="0"/>
															<xsd:enumeration value="zw">
																<xsd:annotation>
																	<xsd:documentation>zwolnione z opodatkowania</xsd:documentation>
																</xsd:annotation>
															</xsd:enumeration>
															<xsd:enumeration value="oo">
																<xsd:annotation>
																	<xsd:documentation>odwrotne obciążenie</xsd:documentation>
																</xsd:annotation>
															</xsd:enumeration>
															<xsd:enumeration value="np">
																<xsd:annotation>
																	<xsd:documentation>niepodlegające opodatkowaniu-transakcje dostawy towarów oraz świadczenia usług poza terytorium kraju</xsd:documentation>
																</xsd:annotation>
															</xsd:enumeration>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
												<xsd:element name="P_12Z_XII" type="tns:TProcentowy" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Stawka podatku od wartości dodanej w przypadku procedur szczególnych, o których mowa w dziale XII w rozdziałach 6a, 7 i 9 ustawy VAT</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ZamowienieCtrl">
						<xsd:annotation>
							<xsd:documentation>Sumy kontrolne dla zamówień lub umów</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="LiczbaZamowien" type="tns:TNaturalnyJPK">
									<xsd:annotation>
										<xsd:documentation>Liczba zamówień lub umów, w okresie którego dotyczy JPK_FA</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WartoscZamowien" type="tns:TKwotowy">
									<xsd:annotation>
										<xsd:documentation>Łączna wartość kolumny WartoscZamowienia w Tabeli Zamowienie w okresie, którego dotyczy JPK_FA</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
